# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:
* Learn about Jupyter Notebooks
* Learn about R language for DS
* Learn about using Python for DS

Some popular languages to use in Jupyter Notebooks are the following:
1. Python
2. Julia
3. Java Script
4. R
5. C#

Some Python libraries commonly used by Data Scientists include:
1. mathplotlib
2. numpy
3. scipy
4. pandas

| Data Science Tools|
|-------------------|
|R|
|Python|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
m2h_factor=1/60
print("200m = {:.3f}h".format(minutes*m2h_factor))

200m = 3.333h

## Author
Mike